h1{
    font-style: italic;
    text-align: center;
}
.button {
    background-color:  #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    margin:150px 500px;
    cursor: pointer;
  }
  .pressbutton {
    background-color:  #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    width: 150px;
    height:5px ;
    cursor: pointer;

  }
  #style {
    text-align: center;
}